#firstdiv{
    width: 100vw;
    height: 50vh;
    background-color: skyblue;
    text-align: center;
    position:absolute;
    background-image: url('badminton\ background.jpg');
    background-size: cover;
}
#firstdiv h1{
    font-size:100px;

}