#backgroundcolor{
    background-image: url('WhatsApp\ Image\ 2024-01-31\ at\ 11.02.16\ PM\ \(1\).jpeg');
    width: 100vw;
    height: 100vh;
    background-size:contain;
    position:fixed;
}
#login{
    background-color: white;
    width: 31vw;
    height: 65vh;
    box-shadow: 10px 1px 6px 5px;
    transform: translate(640px,210px)
}
#login h1{
    transform: translate(50px,20px);
    text-decoration:underline
    
}
#login p{
    margin-left: 50px;
}
.password input{
    width: 20vw;
    height: 30px;
    margin-left: 80px;
}
.password h2{
    margin-left: 80px   ;
    text-decoration: underline;
}
#button button{
    width: 18vw;
    height: 5vh;
    margin-left: 110px;
    margin-top: 30px;
    background-color: gray;
    color: black;
    border-radius: 10px;
}
#line{
    width:24vh;
    height: 2px;
    background-color: black;
    margin: 20px ;
}
#line p{
    transform: translate(200px,-10px);
    font-weight:bold;
}
#line2{
    width:26vh;
    height: 2px;
    background-color: black;
    margin: 20px ;
    transform: translate(300px,-20px);
}
#socialmedialogo ul{
    margin-left: 120px;
        list-style: none;
        display: flex;
        column-gap: 50px;
        cursor: pointer;
}
#page p{
    transform: translate(60px,20px);
}
