#backgroundimage{
  width: 100vw;
  height: 100vh;
  background-image: url('feathers2\ \(1\).jpg');
  background-size: cover;
  position: absolute;
}
#logo{
  width: 140px;
  height: 140px;
  cursor: pointer;
}
#navbar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  background-color: whitesmoke;
}
#navbar ul{
  display: flex;
  column-gap: 100px;
  list-style: none;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
}
.navbarcolor{
  text-decoration: none;
  color: black;
}
#searchbox input{
  width: 400px;
  height: 30px;
  margin-top: 40px;
  border-radius: 10px;
}
#navbar ul :hover{
  color: green;
}

